body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header */
.header{
    background-color: #ffffff;
    width: 100%;
    display: flex;
}
.header-icon{
    padding-left: 100px;
    width: 33.33%;
}
.icon {
    vertical-align: middle;
    padding: 10px;
    height: 50px;
}
.search-bar{
    position: relative;
    display: flex;
    padding: 23px 0 23px 75px;
    margin: 0;
    width: 300px;
    vertical-align: baseline;
}
.search-bar input{
    vertical-align: middle;
    margin-left: 100px;
    width: 100%;
    padding: 6px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #949292;
    border-radius: 1px;
}
.search-btn{
    cursor: pointer;
    overflow: visible;
    border: 0;
    background: none;
    margin-left: -32px;
    color: #a0a3a7;
}
.search-btn img{
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.login{
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 200px;
    text-align: right;
}
.login a{
    text-decoration: none;
    color: #949292;
    font-size: 15px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login a:hover{
    color: #485fc7;
    cursor: pointer;
}
.login img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/* Login Form */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 12px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #485fc7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #485fc7;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.login-btn:hover{
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
} 
.login-form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
}
.login-form label{
    font-size: 10px;
}
.login-border{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid #333;
    border-bottom-width: 1px;
}
.register-form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.register-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #485fc7;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #485fc7;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.register-btn:hover{
    background-color: #485fc7;
    color: #ffffff;
}
.radio-btns{
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
.radio-btns input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-btns .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}
.radio-btns input:checked ~ .checkmark:after {
    display: block;
}
.radio-btns:hover input ~ .checkmark {
    background-color: #ccc;
}
.radio-btns input:checked ~ .checkmark {
    background-color: #485fc7;
}
.psw {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    text-decoration: none;
    color: #333;
}
.psw:hover{
    color: #485fc7;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 25%;
}
/*Close Button (x)*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #485fc7;
    cursor: pointer;
}
/*Zoom Animation*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.7)} 
    to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
    from {transform: scale(0.7)} 
    to {transform: scale(1)}
}
/* Menu */
.menu{
    transition: all 300ms;
    background-color: #000000;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.menu nav{
    display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: middle;
}
.nav-ctl{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.primary-nav{
    display: table-row;
    list-style: none;
    list-style-type: none;
    vertical-align: middle;
}
.primary-nav li{
    padding: 0;
    list-style: none;
    display: table-cell;
    text-align: center;
    width: calc(100% / 7);
    line-height: 50px;
}
.primary-nav li:hover a:hover{
    color: #485fc7;
}
.primary-nav li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Dropdown */
.dropdown{
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    width: 70%;
    height: max-content;
    box-shadow: 0px 8px 16px 0px #000000;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-content .drp-header {
    background: #000000;
    text-align: left;
    padding-left: 20px;
    color: #ffffff;
    font-family: inherit;
}
.drp-main{
    margin-top: -20px;
    margin-left: 20px;
    height: 50px;
    border-bottom: 2px solid #485fc7;
    width: fit-content;
}
.primary-nav li:hover .dropdown-content {
    display: block;
}
.drp-row:after {
    content: "";
    display: table;
    clear: both;
    font-family: inherit;
}
.ticket-buy{
    transition: .5s ease;
    opacity: 0;
    margin-top: -110px;
    margin-left: 42px;
    width: 100px;
    height: 40px;
    position: absolute;
    text-align: center;
}
.ticket-btn{
    background-color: #485fc7;
    border: 3px solid #485fc7;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}
.ticket-btn:hover{
    background-color: #6174c7;
    border: 3px solid #6174c7;
    cursor: pointer;
}
.ticket-btn img{
    top: 5px;
    position: relative;
}
.drp-column {
    float: left;
    width: calc(100%/5);
    padding: 20px;
    background-color: #000000;
    height: 180px;
    font-family: inherit;
    overflow: hidden;
}
.drp-column:hover .drp-image{
    opacity: 0.3;
}
.drp-column:hover .ticket-buy{
    opacity: 1;
}
.drp-image{
    opacity: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 138px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.drp-title{
    margin-top: -20px;
    text-align: left;
}
.drp-title .title-main{
    font-size: 12px;
    color:#ffffff;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase!important;
}
.drp-title .title-sub{
    margin-top: -15px;
    height: 18px;
    font-size: 12px;
    color:#949292;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase!important;
}
.dropdown-cont {
    display: none;
    position: absolute;
    background-color: #000000;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px #000000;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-cont .drp-header {
    background: #000000;
    padding: 16px;
    color: #ffffff;
    font-family: inherit;
}
.primary-nav li:hover .dropdown-cont {
    display: block;
}
.drp-menu{
    float:left;
    width: fit-content;
    padding: 10px;
    background-color: #000000;
    height: fit-content;
    font-family: inherit;
}
.drp-menu a {
    float: none;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Footer */
.footer{
    display: block;
    padding: unset;
    overflow: hidden;
    background: #333;
}
.footer-container{
    margin-left: 150px;
    margin-right: 150px;
}
.footer-top{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    row-gap: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-top ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-top li{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-style: normal;
    padding-top: 20px;
    color: #a3a3a3;
}
.footer-top li:hover{
    transition-duration: 0.3s;
    transition-property: all;
    color: #485fc7;
    cursor: pointer;
}
.footer-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
}
.footer-logo{
    margin: 0;
    padding: 0;
    display: block;
    color: transparent;
}
.footer-logo img{
    margin-top: 20px;
}
.footer-connect{
    width: 46px;
    height: 46px;
    align-items: center;
}
.footer-connect svg{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}
.footer-connect svg:hover{
    transform: scale(1.4);
}
.footer-bottom{
    display: flex;
    border-top: 2px solid #ffffff;
    padding: 20px 0;
    justify-items: start;
    justify-content: flex-start;
    align-items: center;
}
.footer-inf{
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d0d0d0;
    font-size: 15px;
    row-gap: 0;
}